[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SITH"]
	path = SITH
	url = https://github.com/phillipnicol/sith
	shallow = true
	registered = true
